<ion-header>
  <ion-navbar>
    <ion-title>
      Usuarios
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-header>
      Usuarios
    </ion-card-header>
    <ion-list>
      <button ion-item *ngFor="let usuario of usuarios" (tap)="irDetalleUsuario(usuario)">
        <ion-icon name="person" item-start></ion-icon>
        {{usuario.nombre}}
      </button>
    </ion-list>
  </ion-card>
</ion-content>