<!--
  Generated template for the DetalleUsuarioPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Detalle Usuario</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-card>
    <img src="http://lorempixel.com/300/200/cats/{{usuario.nombre}}" />
    <ion-card-content>
      <ion-card-title>
        {{usuario.nombre}}
      </ion-card-title>
      <p>
        <strong>Dirección: </strong>{{usuario.direccion}}
      </p>
      <p>
        <strong>Telefono: </strong>{{usuario.telefono}}
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>